<main>
    <div class="loginContainer">
        <div class="logo">
            <h1>
                <i class="fa-brands fa-asymmetrik"></i>
                ASTRA
            </h1>
            <h4>MECANICA & DETALING</h4>
        </div>

        <form #loginForm id="formLogin" (submit)="sendLoginForm($event,this.loginForm)">
            <div class="inputGruop">
                <label for="username">Usuario:</label>
                <div class="content">
                    <input type="text" name="username" id="username" autocomplete="off" required="true" minlength="5"
                        maxlength="40">
                </div>
            </div>

            <div class="inputGruop">
                <label for="passwordInput">contrasenia:</label>
                <div class="content">
                    <input #pass type="password" name="password" id="passwordInput" autocomplete="off" required="true"
                        minlength="6" maxlength="30">
                    <i class="fa-solid"
                        [ngClass]="{'fa-eye-slash':globalService.showPassword, 'fa-eye': !globalService.showPassword}"
                        (click)="globalService.togglePassword(pass)"
                        [title]="pass.type==='password'?'Ver':'Ocultar'"></i>
                </div>
            </div>
            <button id="btn_ingresar" title="Ingresar" type="submit">Ingresar</button>
        </form>
    </div>
</main>