<div class="content-Form">
  <div class="header-table ">
    <button title="Volver" (click)="vehiService.formEdit=false">
      <i class="fa-solid fa-square-caret-left"></i>
    </button>
  </div>
  <h2>Editar Vehiculo</h2><br>
  <form (submit)="vehiService.editVehiculo($event)" enctype="multipart/form-data" id="formEditVehiculo">

    <div class="inputGruop">
      <label for="marca_modelo">Marca y Modelo:</label>
      <input type="text" [value]="vehiService.vehiculoEdit?.marca_modelo" name="marca_modelo" id="marca_modelo"
        [required]="true" minlength="5" maxlength="50">
    </div>

    <div class="inputGruop">
      <label for="patente">Patente:</label>
      <input type="text" [value]="vehiService.vehiculoEdit?.patente" name="patente" id="patente" [required]="true"
        minlength="3" maxlength="20">
    </div>

    <div class="inputGruop">
      <label for="color">Color:</label>
      <input type="text" [value]="vehiService.vehiculoEdit?.color" name="color" id="color" [required]="true"
        minlength="2" maxlength="20">
    </div>

    <div class="inputGruop">
      <label for="duenio">Dueño:</label>
      <select name="duenio" id="duenio" [value]="vehiService.vehiculoEdit?.duenio?.id_cliente" [required]="true">
        <option [value]="0" [ariaChecked]="false">Seleccione Cliente</option>
        @for (cliente of cliService.clientes; track cliente.id_cliente) {
        <option [value]="cliente.id_cliente"
          [selected]="cliente.id_cliente === vehiService.vehiculoEdit?.duenio?.id_cliente">
          {{cliente.apellido}} {{cliente.nombre}}
        </option>
        }@empty {<option [value]="0" [ariaChecked]="false">No hay Clientes Disponibles...</option> }
      </select>
    </div>

    <div class="inputGruop">
      <label for="imagen">Imagen:</label>
      <div class="containerInputFile">
        <input type="file" name="imagen" id="imagen" accept="image/*" title="Insertar"
          (change)="vehiService.insertImg($event)">
        @if (vehiService.vehiculoEdit?.pathImage && !vehiService.imgVehiculo) {
        <img [src]="vehiService.vehiculoEdit?.pathImage" [alt]="vehiService.vehiculoEdit?.marca_modelo">
        }
        @if (vehiService.imgVehiculo) {
        <img [src]="vehiService.imgVehiculo" [alt]="vehiService.imgVehiculo">
        }
        @if(!vehiService.vehiculoEdit?.pathImage && !vehiService.imgVehiculo) {
        <i class="fa-solid fa-car"></i>
        <span>Insertar Imagen</span>
        }
      </div>
    </div>

    <div class="container-Btn-Modal">
      <button type="reset" (click)="vehiService.imgVehiculo=''" title="Cancelar" id="btnCancelar">Cancelar</button>
      <button type="submit" title="Guardar" id="btnGuardar">Guardar</button>
    </div>
  </form>
</div>