<div class="content-Form">
  <div class="header-table ">
    <button title="Volver" (click)="cliService.formEdit=false">
      <i class="fa-solid fa-square-caret-left"></i>
    </button>
  </div>
  <h2>Editar Cliente</h2><br>
  <form (submit)="cliService.editCliente($event)">

    <div class="inputGruop">
      <label for="nombre">Nombre:</label>
      <input type="text" [value]="cliService.clienteEdit?.nombre" name="nombre" id="nombre" [required]="true"
        minlength="3" maxlength="30">
    </div>

    <div class="inputGruop">
      <label for="apellido">Apellido:</label>
      <input type="text" [value]="cliService.clienteEdit?.apellido" name="apellido" id="apellido" [required]="true"
        minlength="3" maxlength="30">
    </div>

    <div class="inputGruop">
      <label for="cuit">Cuit:</label>
      <input type="text" [value]="cliService.clienteEdit?.cuit" name="cuit" id="cuit" [required]="true" minlength="5"
        maxlength="30">
    </div>

    <div class="inputGruop">
      <label for="telefono">Telefono:</label>
      <input type="text" [value]="cliService.clienteEdit?.telefono" name="telefono" id="telefono" [required]="true"
        minlength="5" maxlength="50">
    </div>

    <div class="inputGruop">
      <label for="domicilio">Domicilio</label>
      <input type="text" [value]="cliService.clienteEdit?.domicilio" name="domicilio" id="domicilio" [required]="true"
        minlength="5" maxlength="50">
    </div>
    @if (cliService.clienteEdit?.estado==="BAJA" ) {
    <div class="inputGruop">
      <label for="estado">Estado:</label>
      <select #select_estado [value]="cliService.clienteEdit?.estado?.toLocaleUpperCase()"
        [className]="cliService.selectClass(select_estado.value)" (change)="cliService.selectClass(select_estado.value)"
        name="estado" id="estado" required="true">
        <option value="" aria-checked="false">Seleccione Estado</option>
        <option [className]="cliService.selectClass('BAJA')" value="BAJA">BAJA</option>
        <option [className]="cliService.selectClass('ACTIVO')" value="ACTIVO">ACTIVO</option>
      </select>
    </div>
    }

    <div class="container-Btn-Modal">
      <button type="reset" title="Cancelar" id="btnCancelar">Cancelar</button>
      <button type="submit" title="Agregar" id="btnAgregar">Guardar</button>
    </div>
  </form>
</div>