<div class="cards">
  <div class="card-single">
    <div>
      <h1>{{canClientes}}</h1>
      <span>Clientes</span>
    </div>
    <div>
      <i class="fa-solid fa-address-book"></i>
    </div>
  </div>

  <div class="card-single">
    <div>
      <h1>{{canPendientes}}</h1>
      <span>Actividades Pendientes</span>
    </div>
    <div>
      <i class="fa-solid fa-clipboard-list"></i>
    </div>
  </div>
  <div class="card-single">
    <div>
      <h1>{{canVehiculos}}</h1>
      <span>Vehiculos Disponibles</span>
    </div>
    <div>
      <i class="fa-solid fa-car"></i>
    </div>
  </div>
  <div class="card-single">
    <div>
      <h1>{{canFacturas}}</h1>
      <span>Facturas Emitidas</span>
    </div>
    <i class="fa-solid fa-file-invoice-dollar"></i>
  </div>
</div>