<h1 mat-dialog-title>Perfil Usuario</h1><br>
<mat-dialog-content>
    <!-- 
    <p><strong>Apellido y Nombre: </strong> {{cliente.apellido}} {{cliente.nombre}}</p>
    <p><strong>Cuit: </strong> {{cliente.cuit}}.</p>
    <p><strong>Telefono: </strong> {{cliente.telefono}}.</p>
    <p><strong>Domicilio: </strong> {{cliente.domicilio}}.</p>
    <p><strong>Cantidad de Vehiculos: </strong> {{cliente.vehiculos.length}}.</p> 
    -->
</mat-dialog-content>
<mat-dialog-actions class="container-Btn-Modal" style="width: 100%;">
    <button title="Cerrar" mat-button mat-dialog-close color="">Cerrar</button>
    
</mat-dialog-actions>